<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="wrapper">

    {% include sidebar-wrapper.html %}

    <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                    <a href="#menu-toggle" id="nav-toggle"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                    {{ content }}
                  </div>
              </div>
          </div>
      </div>
      <!-- /#page-content-wrapper -->
  </div>
    {% include footer.html %}

  </body>

</html>
